model_list:
  - model_name: ${public_model_name}
    litellm_params:
      model: azure/${deployment_name}
      api_base: os.environ/FOUNDRY1_API_BASE
      api_version: os.environ/AZURE_API_VERSION
    model_info:
      mode: chat
  - model_name: ${public_model_name}
    litellm_params:
      model: azure/${deployment_name}
      api_base: os.environ/FOUNDRY2_API_BASE
      api_version: os.environ/AZURE_API_VERSION
    model_info:
      mode: chat

litellm_settings:
  enable_azure_ad_token_refresh: true
  store_model_in_db: ${store_model_in_db}

router_settings:
  routing_strategy: simple-shuffle
  num_retries: 2
  cooldown_time: 30
